<%- include("partials/header.ejs") -%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>My EJS App</title>
</head>
<body> 
  <div class="container-xl big-padding ">
    <div class="row text-center  section-title">
      <h2 class="fs-4">Online Voting Website</h2>
      <p>
        <% if (message) { %>
          <%= message %>
        <% } %>
      </p>

      <div class="row text-white text-center ">
          <div class = "colored-box">
            <a href="/position1"><h1>Position 1</h1></a>
          </div>
        
      </div>

      <div class="row text-white text-center  ">
        <div class = "colored-box"><a href="/position2"><h1>Position 2</h1></a></div>
      </div>

      <div class="row text-white  text-center ">
        <div class = "colored-box"><a href="/position3"><h1>Position 3</h1></a></div>
      </div>

      <div class="row text-white  text-center ">
        <div class = "colored-box"><a href="/position4"><h1>Position 4</h1></a></div>
      </div>

      


      
       
    </div>
  </div>
  
</body>
</html>


<%- include("partials/footer.ejs") -%>
